name: PHP-SYNTAX

on:
  push:
    branches:
    - main
    paths:
    - '*.php'

permissions:
  contents: read

jobs:
  syntax:
    name: "Check Syntax (${{ matrix.php }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
        - '8.1'
        - '8.2'
        - '8.3'
        - '8.4'
        - '8.5'
    steps:
    - name: Set up PHP
      uses: shivammathur/setup-php@2.36.0
      with:
        php-version: ${{ matrix.php }}
    - uses: actions/checkout@v6.0.0
    - run: echo "::add-matcher::.github/php-syntax.json"
    - name: Remove files to be ignored
      run: |
        true
    - run: |
        ! find . -type f -name '*.php' -exec php -l '{}' \; 2>&1 |grep -v '^No syntax errors detected'
